<div class="main-wrapper">
  <div class="center-card">
    <h1>shufflethis!</h1>
    <p>to continue:</p>
    <%= link_to "login with spotify", spotify_auth_path, class: "btn-login" %>
  </div>
</div>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
