$green: #1DB954;
$black: #001314;
$yellow: #f2ef4b;
$angle: 8px;
$angle-o: 4px;

.instructions {
  margin-top: 6rem;
  width: 80vw;
  margin-bottom: 2rem;
}

.how-to {
  margin-bottom: 1em;
}

.playlist {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 1em;
}

.notice {
  position: absolute;
  top: 0;
  padding: 8px;
  width: 80vw;
  text-align: center;
  box-shadow: -6px 6px 0 $black;
  font-size: 1.5em;

  &::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;
    background-color: $black;
    transform: rotate(45deg);
    z-index: -1;

  }

  &::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: $black;
    transform: rotate(45deg);
    z-index: -1;
  }

  &.success {
    background-color: $green;
  }

  &.denied {
    background-color: $yellow;
  }
}
